<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177084095858-lfj6o0gotcse8bo88elolv52cuhlsdq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177084095858-lfj6o0gotcse8bo88elolv52cuhlsdq3</string>
	<key>API_KEY</key>
	<string>AIzaSyAk-5Bh491M9ofUPyr-5fskdTXCXfCjeZw</string>
	<key>GCM_SENDER_ID</key>
	<string>177084095858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>team.leejongwoo.LabelLab</string>
	<key>PROJECT_ID</key>
	<string>labellab-25b50</string>
	<key>STORAGE_BUCKET</key>
	<string>labellab-25b50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177084095858:ios:728f9de13b8380a90011eb</string>
</dict>
</plist>